{
  "extends": "react-app",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [],
        "customValidators": [],
        "skipUndeclared": false
      }
    ]
  }
}