@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #acacac, #929fff);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    border-color: black;
    z-index: 10;
    background: white;
    width: 60%;
}

table tbody tr {
    height: 50px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table td,
table th {
    padding-left: 20px;
    text-align: left;
}

table tbody tr {
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}